<div class="m-3 text-center row" id="nav-btns">
    <div aria-label="Course information" class="col-lg-5 border border-info rounded p-3 equal align-middle" style="margin-left:auto; margin-right:4px;">
        <div class="">
            {% include course_info_links.html %}
        </div>
    </div>
    <div aria-label="Tools" class="col-lg-5 border border-info rounded p-3 equal align-middle" style="margin-left: 4px; margin-right:auto;">
        <div class="">
            {% include course_tools_links.html %}
        </div>
    </div>
</div>
<div class="m-3 text-center row" id="captions">
    <div aria-label="Course information" class="col-lg-5 text-center rounded p-3  align-middle" style="margin-left:auto; margin-right:4px;">
        <h6>Course Information</h6>
    </div>
    <div aria-label="Tools" class="col-lg-5 text-center p-3  align-middle" style="margin-left: 4px; margin-right:auto;">
        <h6>Tools</h6>
    </div>
</div>
<hr>
